@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Visually hide the element by positioning it off-screen 
* while still keeping it accessible to screen readers. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

:root {
  color-scheme: light dark;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1rem, 0.25rem + 1.5vw, 2rem);
  --bg-color: #0d1321;
  --header-bg-color: #1d2d44;
  --photo-bg-color: #1d2d44;
  --regular-text-color: white;
  --text-color-2: #909090;
  --link-text-color: #add8e6;
  --header-text-color: white;
  --photo-border-color: white;
  --button-bg-color: white;
  --button-color: black;
  --link-decoration-color: white;
  --focus-outline-color: purple;
  --media-icon-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--regular-text-color);
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

header > h1 {
  margin: 0 auto 0 0;
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-block: 1em 1em;
}

.photo-container {
  border: 0.1rem solid var(--photo-border-color);
  padding: 1rem 1rem 0 1rem;
  margin-inline: 1rem 1rem;
  background-color: var(--photo-bg-color);
}

.photo-container > img {
  max-inline-size: 15rem;
  block-size: auto;
}

.text-content > h2 {
  font-size: 2rem;
  padding-block: 0.5rem 0.2rem;
}

.text-content > h3 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  color: var(--text-color-2);
}

.text-content > a {
  color: var(--link-text-color);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-color: var(--link-decoration-color);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.button-container > a:first-child {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  margin-inline-end: 0.5rem;
}

.button-container > a {
  color: white;
  background-color: #0077b5;
  padding: 1rem 0.9rem 1rem 0.9rem;
  margin: 0 0 0.5rem 0;
  border-radius: 0.5em;
  width: 7.3rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.button-container > a > i {
  padding-inline-end: 0.3rem;
  font-size: 1.2rem;
}

.button-container > a:first-child > i {
  font-size: 1rem;
}

a:hover,
a:focus {
  font-weight: bold;
}

a:focus,
button:focus {
  outline: solid 0.5rem var(--focus-outline-color);
  outline-offset: 0.3rem;
}

#text-content {
  text-align: left;
  max-inline-size: 66ch;
  line-height: 1.5;
  padding-inline: 1rem 1rem;
  margin-block-start: 1.5rem;
}

#interests {
  padding-block-start: 1rem;
}

#social-media {
  margin: 3rem 1rem 1rem 1rem;
  font-size: 2rem;
}

.social-media-container {
  display: flex;
  justify-content: center;
}

.social-media-container > a {
  color: var(--media-icon-color);
  padding: 0 1rem 0 1rem;
}

.social-media-container > a:hover {
  color: var(--link-text-color);
  font-size: 4rem;
}

@media (prefers-color-scheme: light) {
  html {
    --bg-color: white;
    --header-bg-color: black;
    --header-text-color: white;
    --photo-bg-color: #ccc;
    --regular-text-color: black;
    --text-color-2: #202020;
    --link-text-color: blue;
    --link-decoration-color: black;
    --photo-border-color: black;
    --button-bg-color: black;
    --button-color: white;
    --focus-outline-color: red;
    --media-icon-color: black;
  }
}
